<div id="<%= dom_id movieactor %>">
  <p>
    <strong>Ma movieid:</strong>
    <%= movieactor.ma_movieid %>
  </p>

  <p>
    <strong>Ma actorid:</strong>
    <%= movieactor.ma_actorid %>
  </p>

</div>
