<h1>Editing movieactor</h1>

<%= render "form", movieactor: @movieactor %>

<br>

<div>
  <%= link_to "Show this movieactor", @movieactor %> |
  <%= link_to "Back to movieactors", movieactors_path %>
</div>
