<h1>Editing showactor</h1>

<%= render "form", showactor: @showactor %>

<br>

<div>
  <%= link_to "Show this showactor", @showactor %> |
  <%= link_to "Back to showactors", showactors_path %>
</div>
