<div id="<%= dom_id moviegenre %>">
  <p>
    <strong>Mg genreid:</strong>
    <%= moviegenre.mg_genreid %>
  </p>

  <p>
    <strong>Mg movieid:</strong>
    <%= moviegenre.mg_movieid %>
  </p>

</div>
