<h1>Editing showgenre</h1>

<%= render "form", showgenre: @showgenre %>

<br>

<div>
  <%= link_to "Show this showgenre", @showgenre %> |
  <%= link_to "Back to showgenres", showgenres_path %>
</div>
