<h1>Editing moviegenre</h1>

<%= render "form", moviegenre: @moviegenre %>

<br>

<div>
  <%= link_to "Show this moviegenre", @moviegenre %> |
  <%= link_to "Back to moviegenres", moviegenres_path %>
</div>
